<div class="container">

<div class="container">
<form name="loginForm" (ngSubmit)="a.form.valid && onSingIn()" #a="ngForm">

<div class="form-group">
<label for="username"> username </label>
<input required minlength='3' type="text" class="form-control" name="username" [(ngModel)]="loginform.username" #username="ngModel"/>
<div class="alert alert-danger" role="alert" *ngIf="username.errors && a.submitted">
<div *ngIf="username.errors.minlength">
Votre nom d'utilisateur est court</div>
<div *ngIf="username.errors.required">
Le nom d'utilisateur est obligatoire
</div>
</div>

</div>

<div class="form-group">
<label for="username"> Mot de passe </label>
<input required minlength='1' type="password" class="form-control" name="password" [(ngModel)]="loginform.password" #password="ngModel"/>
<div class="alert alert-danger" role="alert" *ngIf="password.errors && a.submitted">
<div *ngIf="password.errors.minlength">
Votre nom d'utilisateur est court</div>
<div *ngIf="password.errors.required">
Le nom d'utilisateur est obligatoire
</div>
</div>
</div>

<div class="form-group">
<button class="btn btn-primary btn-block">
Login
</button>
</div>


</form>

</div>
