<div class="container">

<H2> Liste des Classes </H2>
<mat-list>

<app-classroom *ngFor="let classroom of classroomList; let i = index" [classroomName]="classroom.name" [numberStudents]="classroom.studentsNum"
[status]="classroom.status" [index]="i">
</app-classroom>



</mat-list>

<button (click)='disableAllList()'  mat-raised-button color="warn"> Désactiver la classe </button>
<button (click)='enableAllList()'  mat-raised-button color="primary"> Activer la classe </button>



<app-edit-classroom> </app-edit-classroom>

</div>
