<div class="container">
<form name="articleForm" (ngSubmit)="a.form.valid && onArticleSubmit()" #a="ngForm">

<div class="form-group">
<label for="title_text"> Titre </label>
<input required minlength='5' type="text" class="form-control" name="title_text" [(ngModel)]="articleform.title" #title_text="ngModel"/>
<div class="alert alert-danger" role="alert" *ngIf="title_text.errors && a.submitted">
<div *ngIf="title_text.errors.minlength">
Votre titre est trés court
</div>
<div *ngIf="title_text.errors.required">
Le titre est obligatoire</div>
</div>

</div>

<div class="form-group">
<label for="summary_text"> Résumé </label>
<textarea required type="text" class="form-control" name="summary_text" [(ngModel)]="articleform.summary" #summary_text="ngModel">
</textarea>
<div class="alert alert-danger" role="alert" *ngIf="summary_text.errors && a.submitted">
le resumé est requis
</div>
</div>

<div class="form-group">
<label for="content_text"> Contenu </label>
<textarea  required type="text" class="form-control" name="content_text" [(ngModel)]="articleform.content" #content_text="ngModel">
</textarea>
<div class="alert alert-danger" role="alert" *ngIf="content_text.errors && a.submitted">
Votre article est vide !
</div>
</div>

<div class="form-group">
<button class="btn btn-primary btn-block">
Ajouter un article
</button>
</div>


</form>
</div>
<div class="container">
<ul>
<li *ngFor="let article of articlesList">
<app-articles [article]="article">
</app-articles>


<div class="container">
<form name="articleForm" (ngSubmit)="a.form.valid && onArticleSubmit(article.id)" #a="ngForm">

<div class="form-group">
<label for="title_text"> Titre </label>
<input required minlength='5' type="text" class="form-control" name="title_text" [(ngModel)]="articleform.title" #title_text="ngModel"/>
<div class="alert alert-danger" role="alert" *ngIf="title_text.errors && a.submitted">
<div *ngIf="title_text.errors.minlength">
Votre titre est trés court
</div>
<div *ngIf="title_text.errors.required">
Le titre est obligatoire</div>
</div>

</div>

<div class="form-group">
<label for="summary_text"> Résumé </label>
<textarea required type="text" class="form-control" name="summary_text" [(ngModel)]="articleform.summary" #summary_text="ngModel">
</textarea>
<div class="alert alert-danger" role="alert" *ngIf="summary_text.errors && a.submitted">
le resumé est requis
</div>
</div>

<div class="form-group">
<label for="content_text"> Contenu </label>
<textarea  required type="text" class="form-control" name="content_text" [(ngModel)]="articleform.content" #content_text="ngModel">
</textarea>
<div class="alert alert-danger" role="alert" *ngIf="content_text.errors && a.submitted">
Votre article est vide !
</div>
</div>

<div class="form-group">
<button class="btn btn-primary btn-block">
Ajouter un article
</button>
</div>
</form>
</div>






</li>
</ul>
</div>
