<div class="container">

<app-student [firstName]="student.prenom" [familyName]="student.familyName" [age]="student.age" [hobbiesList]="student.hobbies" [indexNumber]="+id" [presence]="student.presence"></app-student>

</div>
