<mat-list-item>

<!-- String interpolation -->
<p [ngClass]="{
  'green-class': status,
  'red-class' : !status
}"> Salle de classe {{ classroomName | lowercase }} - {{ numberStudents }} - Date de mise à jour : {{lastUpdate | date : 'long' }}  état : <span *ngIf="status==true;then true_content else false_content"> dsqdqsdqsdqsd </span></p>
<ng-template #true_content>
Classe disponible
 </ng-template>

<ng-template #false_content>
Classe indisponible
 </ng-template>



<mat-form-field style="padding-left:20px" class="example-full-width">
    <mat-label [ngStyle]="getStyle()">Nom de la classe</mat-label>
    <!-- two-way binding -->

    <input matInput placeholder="Ex. Node.js"[(ngModel)]="classroomName">
  </mat-form-field>

    <!-- events binding -->
    <!-- Property binding -->
<button (click)='disable()' [disabled]="this.status == false" mat-raised-button color="warn"> Désactiver la classe </button>
<button (click)='enable()' [disabled]="this.status == true" mat-raised-button color="primary"> Activer la classe </button>
 <a [routerLink]='[index]'> Détails </a>

  </mat-list-item>


