
<div class="container">

<form (ngSubmit)="onSubmit(f)" #f="ngForm">
<div class="form-group">
<label for="name">
Nom de la classe
</label>
<input  type="text" id="name" class="form-control" name="name" required minlength="7" ngModel>

</div>
<div class="form-group">
<label for="studentNumber">
Nombre d'élèves
</label>
<input type="number" id="studentNumber" class="form-control" name="studentsNum" ngModel>
</div>

<div class="form-group">
<label for="status">
État du cours
</label>
<select id="status" class="form-control" name="status" ngModel>
<option value=true> Activée </option>
<option value=false> Désactivée </option>
</select>
</div>
<button class="btn btn-primary" type="submit" > Enregistrer </button>
</form>

</div>
