<div class="container">
   <H2> Liste des Élèves </H2>
<mat-accordion>
<app-student *ngFor="let student of studentsList; let i = index; " [firstName]="student.prenom" [familyName]="student.familyName" [age]="student.age" [hobbiesList]="student.hobbies" [indexNumber]="i" [presence]="student.presence"></app-student>
</mat-accordion>
</div>
